html
  head
    title view
    style.
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      body {
        background: white;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        -webkit-flex-direction: column;
      }
      video {
        display: block;
        max-width: 100%;
        background: rgba(0, 0, 0, 0.25);
      }
  body
    video#remoteVideo(autoplay, controls)
    script(src="js/bundle.js")